{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="/assets/styles/index.css" />
{% endblock %}

{% block content %}
    <form id="build-funnelcake" action="/success/" method="get">
            <div id="step3">
                <fieldset id="background">
                    <legend>Variation Details</legend>
                    <div class="field">
                        <div>
                            <p>Variation Title:</p>
                        </div>
                        <input name="vartitle" type="text" value={{vartitle}}>
                        </input>
                    </div>
                    <div class="field">
                        <div>
                            <p>Percentage Included:</p>
                        </div>
                        <input name="varPercent" type="text" value={{varPercent}}>
                        </input>
                    </div>
                    <div class="field">
                        <div>
                            <p>Custom Javascript:</p>
                        </div>
                        <input name="customJS" type="text" value={{customJS}}>
                        </input>
                    </div>
                </fieldset>
                <fieldset id="background">
                    <legend>Schedule Details (Optional)</legend>
                    <div class="field">
                        <div>
                            <p>Start Time:</p>
                        </div>
                        <input name="startTime" type="text" value={{startTime}}>
                        </input>
                    </div>
                    <div class="field">
                        <div>
                            <p>Stop Time:</p>
                        </div>
                        <input name="stopTime" type="text" value={{stopTime}}>
                        </input>
                    </div>
                </fieldset>
            </div>
        <input type="button" name="formSubmits" value="Back" onclick="window.location='/expDetails';" />
        <input type="submit" value="Next" />
    </form>
{% endblock %}

