<!DOCTYPE html>
<html lang="en-US" dir="ltr">
    <head>
        <meta charset="utf-8" />
        {% if title %}
            <title>{{ title }} | {{ brand }}</title>
        {% else %}
            <title>{{ brand }}</title>
        {% endif %}
        <link rel="stylesheet" href="/assets/styles/bootstrap.css" />
        {% block styles %}{% endblock %}
    </head>
    <body>
        <main>
            <nav class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <ol class="breadcrumb" style="margin-top:8px;">
                        <li class="active"><b>Bakery</b></li>
                        {% block breadcrumb %}{% endblock %}
                    </ol>
                </div>
            </nav>

            <div class="container">  
                <div style="margin-bottom: 20px;">
                    {% block head %}{% endblock %}
                </div>

                {% block content %}{% endblock %}
            </div>
        </main>
        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script src="/assets/js/bootstrap.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
