{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="/assets/styles/index.css" />
{% endblock %}


{% block content %}
    <form id="build-funnelcake" action="/" method="get">
        {% if step == 0 %}
            <div id="step1">
                <fieldset id="background">
                    <legend>Project</legend>
                    <div class="field">
                        <select name="projects" id="projectsList">
                            {% if chosenProj %}
                                {% for project in projects %}
                                    {% if project.id == chosenProj %}
                                        <option value={{project.id}} selected>{{ project.name }}</option>
                                    {% else %}
                                        <option value={{project.id}}>{{ project.name }}</option>
                                    {% endif %}
                                {% else %}
                                    <option value="1">ERROR: NO PROJ FOUND</option>
                                {% endfor %}
                            {% else %}
                                {% for project in projects %}
                                    <option value={{project.id}}>{{ project.name }}</option>
                                {% else %}
                                    <option value="1">ERROR: NO PROJ FOUND</option>
                                {% endfor %}
                            {% endif %}

                        </select>
                    </div>
                </fieldset>
            </div>
        {% endif %}
        {% if step == 2 %}
            <div id="step2">
                <fieldset id="background">
                    <legend>Experiment Details</legend>
                    <div class="field">
                        <div>
                            <p>Experiment Title</p>
                        </div>
                        <input type="text">
                            {{ title }}
                        </input>
                    </div>

                    <div class="field">
                        <div>
                            <p>Editor URL</p>
                        </div>
                        <input type="text">
                            {{ editorURL }}
                        </input>
                    </div>

                    <div class="field">
                        <div>
                            <p>Editor URL is Regular Expression:</p>
                        </div>
                        <input type="text">
                            {{ experimentURL }}
                        </input>
                    </div>


                    <div class="field">
                        <div>
                            <p>Audience</p>
                        </div>
                        <select name="audience" id="audienceList">
                            {% if chosenAudience %}
                                {% for audience in audiences %}
                                    {% if audience.id == chosenAudience %}
                                        <option value={{audience.id}} selected>{{ audience.name }}</option>
                                    {% else %}
                                        <option value={{audience.id}}>{{ audience.name }}</option>
                                    {% endif %}
                                {% else %}
                                    <option value="1">ERROR: NO AUDIENCE FOUND</option>
                                {% endfor %}
                            {% else %}
                                {% for audience in audiences %}
                                    <option value={{audience.id}}>{{ audience.name }}</option>
                                {% else %}
                                    <option value="1">ERROR: NO AUDIENCE FOUND</option>
                                {% endfor %}
                            {% endif %}

                        </select>
                    </div>

                    <div class="field">
                        <div>
                            <p>Goal</p>
                        </div>
                        <select name="goals" id="goalsList">
                            {% if chosenGoal %}
                                {% for goal in goals %}
                                    {% if goal.id == chosenGoal %}
                                        <option value={{goal.id}} selected>{{ goal.name }}</option>
                                    {% else %}
                                        <option value={{goal.id}}>{{ goal.name }}</option>
                                    {% endif %}
                                {% else %}
                                    <option value="1">ERROR: NO GOAL FOUND</option>
                                {% endfor %}
                            {% else %}
                                {% for goal in goals %}
                                    <option value={{goal.id}}>{{ goal.name }}</option>
                                {% else %}
                                    <option value="1">ERROR: NO GOAL FOUND</option>
                                {% endfor %}
                            {% endif %}

                        </select>
                    </div>

                    <div class="field">
                        <div>
                            <p>Number of Variations</p>
                        </div>
                        <input type="text">
                            {{ experimentURL }}
                        </input>
                    </div>

                    <div class="field">
                        <div>
                            <p>Percentage of Visitors Included in Experiment:</p>
                        </div>
                        <input type="text">
                            {{ experimentURL }}
                        </input>
                    </div>
                    
                </fieldset>
            </div>
        {% endif %}
        <input type="submit" value="Next" />
    </form>
{% endblock %}
