{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="/assets/styles/index.css" />
{% endblock %}

{% block breadcrumb %}
    <li class="active"><a>Project Selection</a></li>
{% endblock %}

{% block head %}
    <h1><span class=" glyphicon glyphicon-modal-window" aria-hidden="true"></span> Welcome to Bakery!</h1>
    <p>Start building your Optimizely experiment by selecting the project where you would like it to reside.</p> 
{% endblock %}

{% block content %}
        <form id="build-funnelcake" action="/expDetails/" method="get">
                <div id="step1">
                    <fieldset id="background">
                        <legend>Project</legend>
                        <div class="field">
                            <select autofocus name="projects" id="projectsList">
                                {% if chosenProj %}
                                    {% for project in projects %}
                                        {% if project.id == chosenProj %}
                                            <option value={{project.id}} selected>{{ project.name }}</option>
                                        {% else %}
                                            <option value={{project.id}}>{{ project.name }}</option>
                                        {% endif %}
                                    {% else %}
                                        <option value="1">ERROR: NO PROJ FOUND</option>
                                    {% endfor %}
                                {% else %}
                                    {% for project in projects %}
                                        <option value={{project.id}}>{{ project.name }}</option>
                                    {% else %}
                                        <option value="1">ERROR: NO PROJ FOUND</option>
                                    {% endfor %}
                                {% endif %}

                            </select>
                        </div>
                    </fieldset>
                </div>

            <input type="submit" value="Next" />
        </form>
{% endblock %}

